@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  text-align: right;
  font-family: 'Tajawal', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
 }

 .bg_color{
  background: linear-gradient(to right, #0B96A6, #0F5FA6);

 }


 html{
 
   scroll-behavior: smooth;
 }